<h1 class="text-center" id="tableLabel">Memories</h1>
<p *ngIf="!memories"><em>Loading...</em></p>
<ng-container *ngIf="memories">

  <div class="mb-3">
    <button class="btn btn-primary fa fa-list mr-2" (click)="setViewList()"></button>
    <button class="btn btn-primary fa fa-th mr-2" (click)="setViewCard()"></button>
    <button class="btn btn-primary fa fa-table mr-2" (click)="setViewTable()"></button>
    <button class="btn btn-primary" routerLink="/memories/new">Add new</button>
  </div>

  <ng-container *ngIf="view=='table'">
    <table class='table table-striped box-shadow' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th>Slot Type</th>
          <th>Clock Frequencye (MHz)</th>
          <th>Memory Size (GB)</th>
          <th>Height</th>
          <th>Latecy (ms)</th>
          <th>Manufacturer</th>
          <th>Type</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let memory of memories">
          <td>{{ memory.slotType }}</td>
          <td>{{ memory.clockFrequency }} MHz</td>
          <td>{{ memory.memorySizeInGb }} GB</td>
          <td>{{ memory.height }} cm</td>
          <td>{{ memory.latecy }} ms</td>
          <td>{{ memory.manufacturer }}</td>
          <td>{{ memory.type }}</td>
          <td>{{ memory.price }} Ft</td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-container *ngIf="view=='card'">
    <div class="conatiner">
      <div class="row">
        <ng-container *ngFor="let memory of memories">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <a routerLink="/memories/{{ memory.id }}">
              <div class="text-center box-shadow mb-3 pb-3">
                <div>
                  <img src="assets/{{memory.imgURL}}" style="width:100%;height:100%;border:solid 1px black">
                </div>
                <div>{{ memory.clockFrequency }} MHz</div>
                <div>{{ memory.slotType }}</div>
                <div>{{ memory.manufacturer }}</div>
                <div>{{ memory.type }}</div>
                <div>{{ memory.price }} Ft</div>
                <div class="mt-2">
                </div>
              </div>
            </a>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="view=='list'">
    <div class="conatiner">
      <ng-container *ngFor="let memory of memories">
        <a routerLink="/memories/{{ memory.id }}">
          <div class="mb-3">
            <span class="d-table-cell box-shadow align-middle">
              <span class="d-inline-block mr-2 w-15">
                <img src="assets/{{memory.imgURL}}" style="border:solid 1px black">
              </span>
              <span class="mr-2">{{ memory.clockFrequency }} MHz</span>
              <span class="mr-2">{{ memory.slotType }}</span>
              <span class="mr-2">{{ memory.manufacturer }}</span>
              <span class="mr-2">{{ memory.type }}</span>
              <span class="mr-2">{{ memory.price }} Ft</span>
            </span>
          </div>
        </a>
      </ng-container>
    </div>
  </ng-container>

</ng-container>
